/* Font */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset */
* {
    font-family: "Edu AU VIC WA NT Hand", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* Theme Ligth */
:root {
    --color-bg-ligth: #eaf3f7;
    --color-primary-ligth: #91c8e4;
    --color-secundary-ligth: #a0dbf8;
    --color-font-ligth: #4682a9;
    --color-border-ligth: #1a6da5;
    --color-erro-ligth: #cf2121;
    --color-seccess-ligth: #42cf1f;
}

/* Theme Dark */
:root {
    --color-bg-dark: #4682a9;
    --color-primary-dark: #749bc2;
    --color-secundary-dark: #91c8e4;
    --color-font-dark: #f6f4eb;
    --color-border-dark: #ebf3f6;
    --color-erro-dark: #b11b1b;
    --color-seccess-dark: #36a01b;
}

body {
    margin: 1rem 2rem;
    padding: 1rem;
    border: 1px solid #cf2121b0;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px #cf2121ad;
}

main {
    background-image: url(../assets/img/404.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo img {
    width: 100%;
    object-fit: cover;
}

.logo {
    width: 13rem;
    margin: auto;
    margin-top: -3rem;
    margin-bottom: -3rem;
}