/* Font */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset de estilo padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Edu AU VIC WA NT Hand", sans-serif;
    text-decoration: none;
}

/* Theme Ligth */
:root {
    --color-bg-ligth: #eaf3f7;
    --color-primary-ligth: #91c8e4;
    --color-secundary-ligth: #a0dbf8;
    --color-font-ligth: #4682a9;
    --color-border-ligth: #1a6da5;
    --color-erro-ligth: #cf2121;
    --color-seccess-ligth: #42cf1f;
}

/* Theme Dark */
:root {
    --color-bg-dark: #4682a9;
    --color-primary-dark: #749bc2;
    --color-secundary-dark: #91c8e4;
    --color-font-dark: #f6f4eb;
    --color-border-dark: #ebf3f6;
    --color-erro-dark: #b11b1b;
    --color-seccess-dark: #36a01b;
}

.conteiner {
    width: 100%;
    position: relative;
}

.img-login {
    width: 10rem;
    position: absolute;
    top: 0;
}

.img-login img {
    width: 100%;
    object-fit: cover;
}

/* Icones */
.icon-login {
    display: flex;
    gap: 2rem;
    border-bottom: 2px solid var(--color-border-ligth);
    padding: .5rem;
}

.icon-login i {
    color: var(--color-border-ligth);
}

/* Formulario Login */
.auth-form-login {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg-ligth);
    padding-bottom: 30%;
}

#login-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 15rem 0 5rem 0;
    width: 15rem;
}

#login-form input {
    background-color: transparent;
    border: none;
    width: 100%;
    color: var(--color-border-ligth);
    font-weight: 500;
    font-size: 1rem;
    outline: none;
}

/* Botão */
#login-form .btn-submit {
    width: 100%;
    color: var(--color-border-ligth);
    padding: .2rem 0;
    font-size: 18px;
    border-radius: 0.5em;
    background: var(--color-primary-ligth);
    cursor: pointer;
    border: 1px solid var(--color-bg-ligth);
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px var(--color-bg-ligth);
}

.btn-submit:hover {
    border: 1px solid white;
}

.btn-submit:active {
    box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px var(--color-bg-ligth);
}

/* Link register */
.toggle-login {
    width: 100%;
}

.toggle-login p {
    color: var(--color-border-ligth);
    font-weight: 500;
}

.toggle-login strong {
    cursor: pointer;
}

.title-login {
    color: var(--color-border-ligth);
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
}

/* Formulario Cadastro */
.auth-form-register {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bg-ligth);
    flex-direction: column;
    padding-bottom: 15%;
}

#register-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 10rem 0 3rem 0;
    width: 15rem;
}

#register-form input {
    background-color: transparent;
    border: none;
    width: 100%;
    color: var(--color-border-ligth);
    font-weight: 500;
    font-size: 1rem;
    outline: none;
}

.img-register {
    width: 10rem;
    position: absolute;
    top: 0;
}

.img-register img {
    width: 100%;
    object-fit: cover;
}

/* Icones */
.icon-register {
    display: flex;
    gap: 2rem;
    border-bottom: 2px solid var(--color-border-ligth);
    padding: .5rem;
}

.icon-register i {
    color: var(--color-border-ligth);
}

/* Botão */
#register-form .btn-submit {
    width: 100%;
    color: var(--color-border-ligth);
    padding: .2rem 0;
    font-size: 18px;
    border-radius: 0.5em;
    background: var(--color-primary-ligth);
    cursor: pointer;
    border: 1px solid var(--color-bg-ligth);
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px var(--color-bg-ligth);
}

.btn-submit:hover {
    border: 1px solid white;
}

.btn-submit:active {
    box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px var(--color-bg-ligth);
}

/* Link register */
.toggle-register {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toggle-register p {
    color: var(--color-border-ligth);
    font-weight: 500;
}

.toggle-register strong {
    cursor: pointer;
}

.title-register {
    color: var(--color-border-ligth);
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
}

@media (width >=768px) {

    /* Logo */
    .img-login,
    .img-register {
        width: 14rem;
        position: absolute;
        top: -2rem;
    }

    /* Icon */
    .icon-login,
    .icon-register i {
        font-size: 2rem;
    }

    /* Formulario Login */
    .auth-form-login {
        gap: 4rem;
        padding-bottom: 20%;
    }

    #login-form {
        gap: 5rem;
        padding: 19rem 0 5rem 0;
        width: 30rem;
    }

    #login-form input {
        width: 100%;
        font-weight: 500;
        font-size: 1.5rem;
    }

    /* Formulario Register */
    .auth-form-register {
        gap: 3rem;
        padding-bottom: 5%;
    }

    #register-form {
        gap: 4rem;
        padding: 15rem 0 5rem 0;
        width: 30rem;
    }

    #register-form input {
        width: 100%;
        font-weight: 500;
        font-size: 1.5rem;
    }

    /* Botão Login */
    #login-form .btn-submit {
        width: 90%;
        padding: .5rem 0;
        font-size: 1.5rem;
        font-weight: 500;
        margin: 2rem 0 .5rem 0;
    }

    /* Botão Register */
    #register-form .btn-submit {
        width: 90%;
        padding: .5rem 0;
        font-size: 1.5rem;
        font-weight: 500;
        margin: 2rem 0 .5rem 0;
    }

    /* Link register */
    .toggle-login,
    .toggle-register p {
        font-size: 1.5rem;
        text-align: center;
    }

    .title-login,
    .title-register {
        font-size: 2.5rem;
        font-weight: 600;
    }
}

@media (width >=1200px) {

        /* Logo */
        .img-login {
            width: 17rem;
            position: absolute;
            top: 0;
            right: 10%;
        }

        /* Logo Register */
        .img-register {
            width: 17rem;
            position: absolute;
            top: -2rem;
            right: 11%;
        }
    
        /* Icon */
        .icon-login,
        .icon-register i {
            font-size: 2rem;
        }
    
        /* Formulario Login */
        .auth-form-login {
            width: 100%;
            height: 100dvh;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding-bottom: 0%;
        }
    
        #login-form {
            gap: 4rem;
            padding: 2rem 0 5rem 0;
            width: 30rem;
        }
    
        #login-form input {
            width: 100%;
            font-weight: 500;
            font-size: 1.5rem;
        }

        /* Formulario Register */
        .auth-form-register {
            width: 100%;
            height: 100dvh;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding-bottom: 0%;
        }
    
        #register-form {
            gap: 3rem;
            padding: 2rem 0 1rem 0;
            width: 30rem;
        }
    
        #register-form input {
            width: 100%;
            font-weight: 500;
            font-size: 1.5rem;
        }
    
        /* Botão Login */
        #login-form .btn-submit {
            width: 90%;
            padding: .5rem 0;
            font-size: 1.75rem;
            font-weight: 600;
            margin: 2rem 0 .5rem 0;
        }
    
        /* Botão Register */
        #register-form .btn-submit {
            width: 90%;
            padding: .5rem 0;
            font-size: 1.75rem;
            font-weight: 600;
            margin: 2rem 0 .5rem 0;
        }
    
        /* Link register */
        .toggle-login,
        .toggle-register p {
            font-size: 1.75rem;
            text-align: center;
        }
    
        .title-login,
        .title-register {
            font-size: 4rem;
            font-weight: 600;
        }
}

@media (width >=1680px) {}