* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* Theme Ligth */
:root {
    --color-bg-ligth: #eaf3f7;
    --color-primary-ligth: #91c8e4;
    --color-secundary-ligth: #a0dbf8;
    --color-font-ligth: #4682a9;
    --color-border-ligth: #1a6da5;
    --color-erro-ligth: #cf2121;
    --color-seccess-ligth: #42cf1f;
}

body {
    background-color: var(--color-bg-ligth);
    height: 100dvh;
}

.box-logo {
    width: 100%;
    padding: 0 1rem;
    background-color: var(--color-secundary-ligth);
}

.box-logo .logo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo img {
    width: 10rem;
    object-fit: cover;
    margin-top: -2rem;
}

.box-logo .title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-border-ligth);
}

#sobre-o-casal {
    width: 100%;
    padding: 2rem;
}

#sobre-o-casal .container {
    display: flex;

}